<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center g-3">
            <div class="col text-md-start order-last order-md-first">
                <div class="row">                    
                    <div class="col-12">
                        &copy; 2024 Gustaf Viklund
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>