@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">

    <!-- Top Nav -->
    <NavBar/>

    <!-- Main -->
    <main class="main-content">
        @Body        
    </main>    

    <!-- Footer-->
    <footer>
        <Footer/>
    </footer>

</div>
