@inherits LayoutComponentBase

<div class="d-flex flex-column background">
        
    <NavBar/>

    <!-- Main -->
    <main class="main-content">
        @Body        
    </main>
      
    <Footer/>

</div>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopCenter"
    Timeout="5">   
</BlazoredToasts>