@page "/about"

<div class="about.container">
    <div class="about-text">
        <h3>About</h3>
        <p>This app was made as a practice project, to develop knowledge and experience primarily in web development.</p>
        <p>The idea came from that I still to this day write my shopping notes on a piece of paper.</p>
        <p>I'm also a habitual eater so the recipe generator will come handy when I have no idea what to eat.</p>
    </div>
</div>


@code {

}
