.shopping-list-container {
    max-width: 600px;
    margin: auto;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.shopping-list-header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(64,109,119,1) 100%);
    font-size: 18px;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: left;
}

    .shopping-list-header h5 {
        margin: 0;
        text-align: center;
    }

.shopping-list-items {
    padding: 20px;
}

.shopping-list-item {
    background: #ffffff;
    color: darkblue;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.no-items {
    text-align: center;
    color: darkblue;
    padding: 20px;
}
