@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
html, body {
    font-family: 'Poppins', sans-serif;    
    color: white;    
}

hr{
    margin: 0;    
}

.bi{
    font-size: 22px;
}

/* START */
.shopping-list-container {
    max-width: 600px;
    margin: auto;
}

.top-button {
    display: flex;
    flex: 1 0 150px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-block: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
}


.top-button-1 {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    align-items: center;
    width: 160px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
}

.card {
    background-color: rgb(55, 55, 55);
    margin-bottom: 5px;
    border: none;    
    cursor: pointer;
}    

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-inline: 10px;    
}

.shopping-list-card {
    display: flex;
    justify-content: space-between;
    margin: 0; /* Adjust or remove margin as needed to better center the title */
    font-size: 16px;
    align-items: center;    
}

.icon-button {
    background: none;
    border: none;
    color: inherit; /* Adjust color to match your design */
    font-size: 20px;
}

    .icon-button:hover {
        color: #dc3545;
        cursor: pointer;
    }

.selected {
    background-color: green!important; /* Or any color you prefer */
}

.finish, .add-new-item, .random {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    margin-bottom: 25px;
}

.no-lists {
    text-align: center;
    padding: 20px;
}