<button type="button" @onclick="Click">@ChildContent</button>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task Click()
    {
        await OnClick.InvokeAsync();
    }
}
