@inject NavigationManager NavMan

<div>
    <div class="card cursor-pointer" @onclick="(() => NavigateToList(Model.Id))">
        <div class="card-body">
            <p class="shopping-list-card">
                @Model.Name
                <button class="icon-button float-end" @onclick="(() => DeleteList(Model))" @onclick:stopPropagation="true">
                    <span class="bi bi-trash"/>
                </button>
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ShoppingList Model { get; set; }    

    [Parameter]
    public EventCallback<ShoppingList> OnDelete { get; set; }

    private void NavigateToList(int id)
    {
        NavMan.NavigateTo($"showlist/{id}");
    }   

    private async Task DeleteList(ShoppingList Model)
    {
        await OnDelete.InvokeAsync(Model);       
    }
}
